%footer.sign_up_footer
  %ul.sign_up_footer__terms
    %li.l-term
      = link_to  do
        プライバシーポリシー
    %li.l-term
      = link_to  do
        メルカリ利用規約
    %li.l-term
      = link_to  do
        特定商取引に関する表記
  .sign_up_footer__logo
    = link_to do
      = image_tag "/assets/mercari_logo_vertical.png"
  %p
    %small
      © 2019 Mercari
